

.wrappersoc{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;

  gap: 2rem;
}

.iconsoc{
  text-decoration: none;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 14px;
  /* background-color: hsla(209 20% 70% / 20%); */ /* For dark theme */
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.iconsoc > i {
  color: #ff0;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.iconsoc:hover > i {
  scale: 1.2;
  color: #f1f1f1;
}

.iconsoc:before {
  background: var(--color);
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  left: -110%;
  top: 80%;
  transform: rotate(45deg);
}

.iconsoc:hover:before {
  animation: slide 0.7s forwards;
}

@keyframes slide {
  50% {
    left: 10%;
    top: -40%;
  }

  100% {
    left: -15%;
    top: -15%;
  }
}

.iconsoc:has(.fa-instagram) {
  --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}
.iconsoc:has(.fa-linkedin-in) {
  --color: #0077b5;
}
.iconsoc:has(.fa-whatsapp) {
  --color: #25d366;
}
.iconsoc:has(.fa-x-twitter) {
  --color: #1da1f2;
}
.iconsoc:has(.fa-github) {
  --color: #000000;
}
/* media qure add  */
@media only screen and (max-width: 600px) {
  .iconsoc{
    text-decoration: none;
    width: 3.625rem;
    height: 3.625rem;
    border-radius: 14px;
    /* background-color: hsla(209 20% 70% / 20%); */ /* For dark theme */
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
 
}